<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center bg-primary">
  <div class="p-5 bg-white rounded shadow text-center" style="min-width: 500px;">
    <h4>Masuk</h4>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="mt-2">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" autocomplete="off">
        <mat-error *ngIf="loginForm.get('username').hasError('required')">Required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password" autocomplete="off">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Required</mat-error>
      </mat-form-field>
      <div class="w-100 text-left">
        <mat-checkbox formControlName="remember_me">Ingat saya</mat-checkbox>
      </div>
      <button mat-raised-button type="submit" color="accent" class="mt-3 w-100" [disabled]="loginForm.invalid">Masuk</button>
    </form>
    <hr>
    <i>
      Belum memiliki akun?
      <strong>
        <a routerLink="/daftar">Daftar</a>
      </strong>
    </i>
  </div>
</div>
