<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav border-0 shadow" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="shadow">
      <span>Menu</span>
    </mat-toolbar>
    <div class="d-flex flex-column align-items-center justify-content-center p-3 text-break text-center">
      <div style="width: 120px; height: 120px;">
        <img src="../../../../assets/user.png" alt="profile picture" class="w-100 rounded-circle border">
      </div>
      <strong class="mt-2">{{ currentUser.fullname }}</strong>
      <span>{{ currentUser.role.name }}</span>
    </div>
    <ng-container *ngFor="let menu of menus">
      <mat-nav-list *ngIf="!menu.status">
        <a mat-list-item [routerLink]="menu.url" routerLinkActive="active">
          <mat-icon color="primary">{{ menu.icon }}</mat-icon>
          <span class="ml-3">{{ menu.name }}</span>
        </a>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="shadow">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>&nbsp;Sistem Pakar Kucing</span>
      <button mat-button class="ml-auto btn-pakar" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu xPosition="before">
        <button mat-menu-item class="btn-pakar" disabled>
          {{ currentUser.fullname }}
        </button>
        <button mat-menu-item (click)="logout()" class="btn-pakar">
          <mat-icon>exit_to_app</mat-icon> Log Out
        </button>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
